body{
    background: aliceblue;              /*배경색*/
}
h1{
    color: brown;text-align: center;        /*제목*/
}
hr{
    border-bottom-width: 1px;            /*밑줄*/
    border-bottom-color: black;
}
ul{                                         /*점선이라고 적혀있으나 그림이 실선이라 실선으로 표현*/
    border-color:black ;
    border-style: solid;
    border-width: 1px;
}
h2 {color: blue;                       /*각 중간 제목*/
    text-shadow:3px 3px 5px skyblue;
}
p{
    font-family:"휴먼편지체", "휴먼 편지체", sans-serif;                 /*글씨체가 없어서 임의대로 설정*/
    text-indent: 1em;
    font-size: 1em;
}
footer{                           /*오렌지 둥근 모서리*/
    background-color: orange;
    border-radius : 20px;
}
a:link { color: blue; text-decoration: none;}          /*링크 색이 안고쳐져서 따로 넣은 링크 색없애는 코드*/
a:visited { color: blue; text-decoration: none;}
a:hover { color: blue; text-decoration: none;}